/* GLOBAL */

body {
  margin: 0;
  font-family: Verdana, Arial, sans-serif;
}

.container {
  display: flex;
  width: 100dvw;
  height: 100dvh;
}

@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Light Mode */
:root {
  --bg-color: #ffffff;
  --container-color: #f7f7f7;
  --highlight-color: #dddddd;
  --border-color: #cacaca;
  --shadow-color: #888888;
  --light-shadow-color: #0000005c;
  --text-color: #333333;
  --light-text-color: #4b4b4b;
  --x-color: #af0000;
  --missed-header-color: #ad3838;
  --missed-color: #FFE8E8;
  --item-button-color: #E1E1E1;
  --invert: invert(0%);
}

/* Dark Mode */
[data-theme=true] {
  --bg-color: #1d1e1f;
  --container-color: #2c2e31;
  --highlight-color: #424e5a;
  --border-color: #4c5c6b;
  --shadow-color: #424e5a;
  --light-shadow-color: #6d6d6d;
  --text-color: #e0e0e0;
  --light-text-color: #cacaca;
  --x-color: #ff0000;
  --missed-header-color: #d14848;
  --missed-color: #3d2323;
  --item-button-color: #bababa;
  --invert: invert(100%);
}

/* Smooth Transition */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s ease, color 0.4s ease;
}

/* For Screen Readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

button:focus-visible,
input:focus-visible,
a:focus-visible {
  outline: 3px solid currentColor;
  outline-offset: 3px;
}





/* CREATE BOX */

.create-box {
  position: fixed;
  bottom: 0;
  right: 4dvw;
  width: calc(40dvw + 120px);
  background: var(--bg-color);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: none;
  transform: translateY(100%);
  z-index: 10;
  transition: transform 0.5s ease, background-color 0.4s ease, color 0.4s ease, box-shadow 0.4s ease;
}

.create-box.open {
  transform: translateY(0);
  box-shadow: 0 0 10px 2px var(--shadow-color);
}

/* Header */
.create-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--container-color);
  border-bottom: 1px solid var(--highlight-color);
  padding: 16px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  font-weight: bold;
  transition: background-color 0.4s ease, border-color 0.4s ease;
}

.create-header h2 {
  font-size: 16px;
  margin: 0;
}

.close-x {
  cursor: pointer;
  font-size: 20px;
  margin-right: 2px;
  border: none;
  background: none;
  padding: 0;
  color: var(--text-color);
}

/* Body */
.create-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-top: 6px;
  height: calc(16dvw + 220px);
}

/* Inputs */
.picker-wrapper {
  padding: 10px 9px;
  margin: 9px 12px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  font-size: 15px;
  cursor: pointer;
}

.picker-wrapper input {
  color: var(--text-color);
  background: none;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: left;
}

.name-wrapper {
  margin: 9px 12px;
  font-size: 15px;
  background: none;
}

.name-wrapper input {
  padding: 12px 9px;
  border-radius: 10px;
  color: var(--text-color);
  background: none;
  border: 1px solid var(--border-color);
  width: 100%;
}

.picker-wrapper #datePicker,
.picker-wrapper #timePicker {
  pointer-events: none;
}

.picker-wrapper input::-webkit-date-and-time-value {
  margin: 0;
  padding: 0;
  min-height: 1em;
}

/* Confirm */
.create-confirm {
  padding: 11px;
  margin: 9px 12px;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}





/* CATEGORY CREATE BOX */

.name-wrapper .name-input {
  width: calc(100% - 65px);
  margin-right: 10px;
  font-family: monospace, Verdana, Arial, sans-serif;
}

.name-wrapper .icon-input {
  width: 55px;
  text-align: center;
}

.icon-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 9px 12px;
}

.icon-option {
  font-size: 22px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid var(--border-color);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  background: var(--container-color);
}

.icon-option.selected {
  background: #2563eb;
  border-color: #2563eb;
  color: white;
}





/* SETTINGS BOX */

.option {
  margin: 7px 12px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  transition: border-color 0.4s ease;
}

.settings-label {
  display: flex;
  justify-content: space-between;
  margin: 12px;
  font-weight: bold;
  font-size: 14px;
}

.settings-value {
  font-weight: normal;
  margin-left: 16px;
}

.create-body input[type="range"] {
  margin: 0 12px 10px;
  width: calc(100% - 24px);
}

.settings-toggle {
  margin: 10px 12px;
  font-size: 14px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.create-body input[type="checkbox"] {
  width: 14px;
  height: 14px;
}





/* MOBILE */

@media (max-width: 700px) {
  .create-box {
    padding-bottom: 64px;
  }
}